/*Start FrameworkRules*/
body {
    background-color: #ffffff;
}

@media only screen and (max-width: 360px) {
    p {
        font-size: 15px;
    }

    a {
        font-size: 15px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 22px;
    }
}

@media only screen and (min-width: 362px) and (max-width: 500px) {
    p {
        font-size: 18px;
    }

    a {
        font-size: 18px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 25px;
    }
}

@media only screen and (min-width: 501px) and (max-width: 1000px) {
    p {
        font-size: 19px;
    }

    a {
        font-size: 19px;
    }
}

@media only screen and (min-width: 1001px) {
    p {
        font-size: 20px;
    }

    a {
        font-size: 20px;
    }
}

/*End Framework Rulez*/

/* Start HEADER */
/* Start Navbar */
nav {
    padding: 20px 0px 20px 0px;
    border-top: 9px solid #ce3a3a;
    border-bottom: 3px solid #ce3a3a;
}

nav .logo .logo-image {
    float: left;
    margin-right: 8px;
}

nav .logo p {
    font-weight: 600;
}

nav .navbar-nav .myMargin {
    margin-right: 10px;
}

nav .navbar-nav .dropdown-menu {
    border: 2px solid #ef8787 !important;
    background-color: #f3c5c5 !important;
}

nav .navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #eea9a9 !important;
    color: #EEE;
}

/* END Navbar */
/* Start Slider */
/*START SLIDER*/
.mySlider {
    background-color: #6c6969;
}

.mySlider .carousel-item {
    /*height: 75vh;*/
    /*min-height: 350px;*/
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mySlider .carousel-caption h1 {
    /*background-color: #0b2e13 !important;*/
    font-weight: 700 !important;
    line-height: 2 !important;
    font-stretch: condensed !important;
    font-family: -webkit-pictograph !important;
    color: #decaca;
}

.mySlider .carousel-caption p {
    /*background-color: #0b2e13 !important;*/
    font-weight: 400 !important;
    line-height: 2 !important;
    font-size: 22px;
    font-stretch: condensed;
    font-style: oblique;
    color: #decaca;
}

/*@media only screen and (min-width: 300px) and (max-width: 500px){*/
/*    .mySlider .carousel-item {*/
/*        height: 40vh;*/
/*        min-height: 150px;*/
/*        background: no-repeat center center;*/
/*        -webkit-background-size: cover;*/
/*        -moz-background-size: cover;*/
/*        -o-background-size: cover;*/
/*        background-size: cover;*/
/*    }*/
/*}*/
/*@media only screen and (min-width: 501px) and (max-width: 900px){*/
/*    .mySlider .carousel-item {*/
/*        height: 60vh;*/
/*        min-height: 150px;*/
/*        background: no-repeat center center;*/
/*        -webkit-background-size: cover;*/
/*        -moz-background-size: cover;*/
/*        -o-background-size: cover;*/
/*        background-size: cover;*/
/*    }*/
/*}*/
/*@media only screen and (min-width: 901px){*/
/*    .mySlider .carousel-item {*/
/*        height: 100vh;*/
/*        min-height: 150px;*/
/*        !*width: auto;*!*/
/*        background: no-repeat center center;*/
/*        -webkit-background-size: cover;*/
/*        -moz-background-size: cover;*/
/*        -o-background-size: cover;*/
/*        background-size: cover;*/
/*    }*/
/*}*/
.mySlider #carouselExampleIndicators .li {
    /*background-color: #000000;*/
    border: 2px solid #000000;
}

.carousel-control-prev .carousel-control-prev-icon {
    background-color: #d22727;
    border-radius: 2px;
}

.carousel-control-next .carousel-control-next-icon {
    background-color: #d22727;
    border-radius: 2px;
}

/*END SLIDER*/
/* End Slider */
/* Start Mediation */
.mediation {
    margin-bottom: 30px;
}

.mediation .medTitle {
    padding: 20px;
    background-color: #e6a2a2;
    color: #eee;
    text-shadow: #CCC 1px 0 15px;
    box-shadow: 0px 5px 10px #dc747e;
    border-radius: 5px;
}

.mediation .med-intr {
    padding: 20px;
    font-size: 24px;
    font-family: initial;
    margin: 25px 0px 50px 0px;
}

.mediation .mediation-text .mediation-head {
    margin-bottom: 20px;
    font-size: 28px;
    font-stretch: revert;
    font-family: initial;
    color: #65393d;
    text-shadow: 0 0 black;
}

.mediation .mediation-text .mediation-paragraph {
    font-size: 19px;
    font-family: initial;
    font-feature-settings: inherit;
    font-style: initial;
    font-optical-sizing: initial;
    color: #271414;
}

/* End Mediation */

/* Start Mediationsschwerpunkt */

/* End Mediationsschwerpunkt */
.mediationsschwerpunkt .medschwerTittle {
    padding: 20px;
    background-color: #e6a2a2;
    color: #eee;
    text-shadow: #CCC 1px 0 15px;
    box-shadow: 0px 5px 10px #dc747e;
    border-radius: 5px;
}

.mediationsschwerpunkt .mediation-text {
    margin: 50px 0px 50px 0px;
}

.mediationsschwerpunkt .medschwerpunkte {
    /*list-style: square outside initial;*/
    list-style-image: url(bullet.png);
    /*list-style: image(youtube.png);*/
}

.mediationsschwerpunkt .medschwerpunkte li {
    font-size: 18px;
    color: #3e181c;
    font-family: initial;
    line-height: 2;
    font-style: initial;
    font-weight: 500;
}

/* Start Ueber Uns */
.mediationsschwerpunkt .card {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    width: 18rem;
    border: 0px;
}
/* End Ueber Uns */


/*Start Footer*/
.footer {
    background-color: rgb(25, 30, 34);
    color: rgb(230 234 237);
    padding: 20px 0;
    text-align: center;
    overflow: hidden;
}

.lastFooter {
    background-color: rgb(25, 30, 34);
    color: rgb(230 234 237);
    padding: 20px 0;
    text-align: center;
    overflow: hidden;
    position: relative;
    left: 0px;
    bottom: 0px;
}

.footer span {
    float: left;
}

.footer a {
    color: #ffffff;
}

.lastFooter a {
    color: #ffffff;
}

.lastFooter ul {
    list-style: none;
    padding-left: 0;
    margin: 10px 0 0;
    float: right
}

.footer ul {
    list-style: none;
    padding-left: 0;
    margin: 10px 0 0;
    float: right
}

.lastFooter ul li {
    display: inline-block;
    padding: 2px
}

.footer ul li {
    display: inline-block;
    padding: 2px
}

.footer ul li img {
    height: 26px;
    width: 26px;
    border: 1px;
    border-radius: 4px;
}

.lastFooter ul li img {
    height: 26px;
    width: 26px;
    border: 1px;
    border-radius: 4px;
}

.footer ul li img {
    border: 1px;
    border-radius: 4px;
}

/*End Footer*/